.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 2px solid red;
  min-width: 70%;
  margin: 0 auto;
}

.card {
  border-radius: 3px;
  padding: 50px 10px;
  margin: 10px;
  width: 140px;
  height: 100px;
  text-align: center;
  cursor: pointer;
}
.front {
  border: 2px solid black;
  background-color: #fff;
}
.back {
  background-color: black;
  border: red;
  backface-visibility: visible;
}

.card span {
  padding: 5px;
  font-size: 4rem;
}
